.header {
    padding-top: 3em;
    /* padding-left: 3em;
    padding-right: 3em; */
    text-align: center;
}
.header.logo {
    width: 12em;
    display: block;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
body {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
}
.post {
    width: 60vw;
    text-align: justify;
    margin: auto;
}
li {
    padding-top: 1em;
    padding-bottom: 1em;
}
img {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 40px;
    margin: auto;
}