<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="./create_account">
        <input type="text" name="firstname"></input>
        <input type="text" name="lastname"></input>
        <input type="text" name="email"></input>
        <input type="password" name="password"></input>
        <button type="submit">Register</button>
    </form>
</body>
</html>