<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ index . "title" }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
{{ template "header" }}
<div class="post">
    <h3 class="post_title">{{ .post.Title }}</h3>
    <div class="post_content">{{ .post.Content }}</div>
</div>
</body>


</html>

{{ define "header" }}
<div class="header">
        <a href="/"><img class="logo" src="/static/images/codinbio.png" alt="Poza cu mine de cand eram mai slab lol"></a>
        <h1 class="title">Codin Moldovanu</h1>
    <hr>
    <span class="menu">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/">Contact</a>
    </span>
    <hr>
</div>
{{ end }}

